body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #35474e;

}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: 90px;
    width: 400; 
}

h2{

        text-align: center;
        background-color: #000000;
        color: #fff;
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-left: -29px; 
        width: 200px;
        margin-left: 27%;
}

.contenedor { 

    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container { 

    align-items: center;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-left: 23%;
    border-radius: 10px;
    margin-top: -5px;
    z-index: 1;
    position: relative;

}

.box{

    background-color: #000000;
    color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: -29px;

}

.box:hover {

    background-color: #353638;

}

h2:hover {

    background-color: #353638;

}


.pantalla{

    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;

}


.exterior {
    
    top:0;
    left:0;
    width: 640px;

}

.interior {

    position: absolute;
    top:0;
    left:0;
    -webkit-clip-path: url(#clipping);
    clip-path: url(#clipping);
    width: 640px;
    height: 427px;
}

#lente {

    transition: r 0.9s ease;

} 

.letras {

    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

.contMenu1{
    
    width:fit-content; 
    visibility: hidden;
    z-index: 2; 
    position: absolute; 
    border-radius: 10px;
    
    
}

.cabMenu {  
    
    color: #ffffff; 
    background: #000000; 
    width: 160px;
    height: 20px;
    border-radius: 5px;
    text-align: center;

}

.itMenuDes {  

    width: 140px; 
    padding: 10px;
    border-radius: 5px;
    text-align: inherit;

}

.itMenuDes li {

    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.5);
}

a {

    color: #000000; 
    text-decoration: none; 

}

a:visited {

    color: #000000; 
}

.itMenuDes a {
    display: block; 
    padding: 10px 15px;
    color: #000000;
    text-decoration: none; 
    border-radius: 5px; 
}

#reloj {
    background-color: #f0f0f0; 
    border: 2px solid #333; 
    border-radius: 10px; 
    padding: 10px;
    width: 100px; 
    text-align: center; 
    font-size: 20px; 
    margin: 20px auto; 
    margin-left: 90%;
    position: absolute;
    margin-top: -100px;
}

footer {
    position: relative;
    margin-top: 10px;
    height: 40px; 
    padding:5px 0px;
    clear: both;
    background: hsla(0, 0%, 5%, 0.919);
    text-align: center;
    color: #fff;
    
}


.flechas, .imgs, .auto{

    display:inline-block

}

.flechas{

    padding:0 10px;
    font-size:50px;
    font-weight:bold;
    vertical-align:middle

}
.flechas:hover, .auto:hover{

    cursor:pointer
}
.auto{
    
    font-size:30px;
    padding: 0 8px;
    font-weight:bold;
    vertical-align:middle

}
.ctrl{
    
    font-size:20px;
    padding: 0 10px

}
